/*Base style*/
body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygene' sans-serif;
}
/*Header*/
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 2px solid #000;
}
.navbar-brand {
	padding:10px 0 25px;
}
.navbar-brand h1 {
	font-size: 1.5em;
	font-family: Arial sans-serif;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
.navbar-brand a:hover, navbar-brand a:focus {
	text-decoration: none;
}
#nav-list a {
	color: #951c49;
	text-align: center;
}
#nav-list a:hover {
	background: #e7e7e7;
}
#nav-list a span {
	font-size: 1.8em;
}

/*End of header*/